@import "compass/css3/box-shadow"

$maleColor: #6a3a33
$femaleColor: #43c205

body, h1, h2, h3, h4, h5, h6
	font-family: "Source Sans Pro", sans
	color: #444

h1, h2, h3, h4, h5, h6
	color: #444

a
	color: #177799

body	
	background: #F0F0F0 url(../img/bg.png)
	min-width: 600px

.row
	background: #FFF
	border-left: 1px solid #DDD
	border-right: 1px solid #DDD
	margin: auto
	padding: 0 1em


.chartWrapper
	padding: 2em 0


h1
	margin-bottom: 0

.male
	color: $maleColor

.female
	color: $femaleColor

.legend
	font-weight: bold
	font-size: 14px
	font-style: italic
	.female
		fill: darken($femaleColor, 10%)

.explanation
	font-size: 12px
	color: #777

.stat
	font-weight: bold
	color: #333

.verticalLabel
	text
		font-weight: bold
		fill: #5a5a30
	line
		stroke: #5a5a30
		shape-rendering: crispEdges
		opacity: .33
		stroke-width: 1

.subhead
	font-style: italic

.chart
	width: 100%
	height: 740px

.controls
	position: absolute
	z-index: 2
	top: 100px
	right: 10px
	font-size: .75em
	padding: 0 1em 1em 1em
	background: #FFF
	@include box-shadow(rgba(#000000,.2) 1px 1px 6px)
	div
		p, a
			color: #555
			display: block
			float: none
			clear: both
			margin: 1px 0 0 0
			line-height: 1
			padding: .4em .4em
		p
			margin-top: 1em
			font-weight: bold	
		a:hover
			cursor: pointer	
			background: #ebec9e
		a.active
			background: #e6e585
			color: #222

svg

	text
		font-size: 11px
		fill: #555

	display: block
	margin: 20 auto

	.tick
		text
			fill: #444
			font-weight: 600
		line
			stroke: #999
			stroke-width: 1
			shape-rendering: crispEdges

	.domain
		fill: none

	.male
		fill: $maleColor

	.female
		fill: $femaleColor

	.bg
		fill: #FFF
		stroke: #FFF
		stroke-width: 2

	.legendBorder
		fill: #FFF
		stroke: #CCC
		stroke-width: 1
		shape-rendering: crispEdges

		

	.averageLine 
		line
			stroke: $femaleColor
			stroke-width: 2
			shape-rendering: crispEdges
			opacity: 1
		text
			font-weight: 500
			fill: darken($femaleColor, 10%)

		&.target
			line
				stroke: #999
			text
				fill: #666
		&.thin
			opacity: .5
			
		.percentage
			font-weight: 600
			font-size: 15px
	
.qtip
	.qtip-tip
		height: 0 !important
		display: none !important
		canvas
			display: none !important

	font-size: 11px
	line-height: 18px
	@include box-shadow(rgba(#000000,.2) 1px 1px 6px)

	.content
		padding: 0 !important

	table, td, tr
		border: 0
		padding: 0
		margin: 0
		vertical-align: bottom !important
		line-height: 18px
		background: #FFF

	td
		padding: 0.1em 0.25em

		&.titleCell
			padding: 0 1.5em 0 0 
			border-right: 1px solid #CCC



	.title		
		font-weight: 600
		font-size: 16px
		color: #222
		padding: 0
		
	
	.numbers
		text-align: right
		font-size: 16px
		font-weight: 700
		padding-left: .5em
	
	.title, .numbers
		padding-bottom: .2em

	.labels
		width: 8em

	.year
		font-size: 10px
		color: #999
		font-weight: bold

	.numFemale
		color: darken($femaleColor, 10%)
	.numMale
		color: $maleColor

		
