.chart
	width: 100%
	height: 600px

svg
	text
		font-size: 11px
	display: block
	margin: 0 auto

	.tick
		text
			fill: #444
		line
			stroke: #DDD
			stroke-width: 1
			shape-rendering: crispEdges

	.domain
		fill: none

	.male
		fill: #532c24

	.female
		fill: #75d128

	.bg
		fill: #FFF
		stroke: #FFF
		stroke-width: 2

	.averageLine
		stroke: #419f04
		stroke-width: 2
		shape-rendering: crispEdges

