/* line 6, ../sass/custom.sass */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans;
  color: #444444;
}

/* line 10, ../sass/custom.sass */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* line 13, ../sass/custom.sass */
a {
  color: #177799;
}

/* line 16, ../sass/custom.sass */
body {
  background: #f0f0f0 url(../img/bg.png);
  min-width: 600px;
}

/* line 20, ../sass/custom.sass */
.row {
  background: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  margin: auto;
  padding: 0 1em;
}

/* line 28, ../sass/custom.sass */
.chartWrapper {
  padding: 2em 0;
}

/* line 32, ../sass/custom.sass */
h1 {
  margin-bottom: 0;
}

/* line 35, ../sass/custom.sass */
.male {
  color: #6a3a33;
}

/* line 38, ../sass/custom.sass */
.female {
  color: #43c205;
}

/* line 41, ../sass/custom.sass */
.legend {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
}
/* line 45, ../sass/custom.sass */
.legend .female {
  fill: #329004;
}

/* line 48, ../sass/custom.sass */
.explanation {
  font-size: 12px;
  color: #777777;
}

/* line 52, ../sass/custom.sass */
.stat {
  font-weight: bold;
  color: #333333;
}

/* line 57, ../sass/custom.sass */
.verticalLabel text {
  font-weight: bold;
  fill: #5a5a30;
}
/* line 60, ../sass/custom.sass */
.verticalLabel line {
  stroke: #5a5a30;
  shape-rendering: crispEdges;
  opacity: 0.33;
  stroke-width: 1;
}

/* line 66, ../sass/custom.sass */
.subhead {
  font-style: italic;
}

/* line 69, ../sass/custom.sass */
.chart {
  width: 100%;
  height: 740px;
}

/* line 73, ../sass/custom.sass */
.controls {
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 10px;
  font-size: 0.75em;
  padding: 0 1em 1em 1em;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
}
/* line 83, ../sass/custom.sass */
.controls div p, .controls div a {
  color: #555555;
  display: block;
  float: none;
  clear: both;
  margin: 1px 0 0 0;
  line-height: 1;
  padding: 0.4em 0.4em;
}
/* line 91, ../sass/custom.sass */
.controls div p {
  margin-top: 1em;
  font-weight: bold;
}
/* line 94, ../sass/custom.sass */
.controls div a:hover {
  cursor: pointer;
  background: #ebec9e;
}
/* line 97, ../sass/custom.sass */
.controls div a.active {
  background: #e6e585;
  color: #222222;
}

/* line 101, ../sass/custom.sass */
svg {
  display: block;
  margin: 20 auto;
}
/* line 103, ../sass/custom.sass */
svg text {
  font-size: 11px;
  fill: #555555;
}
/* line 111, ../sass/custom.sass */
svg .tick text {
  fill: #444444;
  font-weight: 600;
}
/* line 114, ../sass/custom.sass */
svg .tick line {
  stroke: #999999;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
/* line 119, ../sass/custom.sass */
svg .domain {
  fill: none;
}
/* line 122, ../sass/custom.sass */
svg .male {
  fill: #6a3a33;
}
/* line 125, ../sass/custom.sass */
svg .female {
  fill: #43c205;
}
/* line 128, ../sass/custom.sass */
svg .bg {
  fill: white;
  stroke: white;
  stroke-width: 2;
}
/* line 133, ../sass/custom.sass */
svg .legendBorder {
  fill: white;
  stroke: #cccccc;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
/* line 142, ../sass/custom.sass */
svg .averageLine line {
  stroke: #43c205;
  stroke-width: 2;
  shape-rendering: crispEdges;
  opacity: 1;
}
/* line 147, ../sass/custom.sass */
svg .averageLine text {
  font-weight: 500;
  fill: #329004;
}
/* line 152, ../sass/custom.sass */
svg .averageLine.target line {
  stroke: #999999;
}
/* line 154, ../sass/custom.sass */
svg .averageLine.target text {
  fill: #666666;
}
/* line 156, ../sass/custom.sass */
svg .averageLine.thin {
  opacity: 0.5;
}
/* line 159, ../sass/custom.sass */
svg .averageLine .percentage {
  font-weight: 600;
  font-size: 15px;
}

/* line 163, ../sass/custom.sass */
.qtip {
  font-size: 11px;
  line-height: 18px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
}
/* line 164, ../sass/custom.sass */
.qtip .qtip-tip {
  height: 0 !important;
  display: none !important;
}
/* line 167, ../sass/custom.sass */
.qtip .qtip-tip canvas {
  display: none !important;
}
/* line 174, ../sass/custom.sass */
.qtip .content {
  padding: 0 !important;
}
/* line 177, ../sass/custom.sass */
.qtip table, .qtip td, .qtip tr {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: bottom !important;
  line-height: 18px;
  background: white;
}
/* line 185, ../sass/custom.sass */
.qtip td {
  padding: 0.1em 0.25em;
}
/* line 188, ../sass/custom.sass */
.qtip td.titleCell {
  padding: 0 1.5em 0 0;
  border-right: 1px solid #cccccc;
}
/* line 194, ../sass/custom.sass */
.qtip .title {
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  padding: 0;
}
/* line 201, ../sass/custom.sass */
.qtip .numbers {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  padding-left: 0.5em;
}
/* line 207, ../sass/custom.sass */
.qtip .title, .qtip .numbers {
  padding-bottom: 0.2em;
}
/* line 210, ../sass/custom.sass */
.qtip .labels {
  width: 8em;
}
/* line 213, ../sass/custom.sass */
.qtip .year {
  font-size: 10px;
  color: #999999;
  font-weight: bold;
}
/* line 218, ../sass/custom.sass */
.qtip .numFemale {
  color: #329004;
}
/* line 220, ../sass/custom.sass */
.qtip .numMale {
  color: #6a3a33;
}
